@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

body {
  font-family: roboto;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.style {
  list-style: none;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.icono_web {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.cursor {
  cursor: pointer;
}

ul li {
  list-style: none;
}

button {
  border: none;
}

.pv_header {
  padding: 24px 0;
}

.link_nav {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
}

.navegation_container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.navegation_link {
  display: inline-flex;
  gap: 50px;
  padding-right: 215px;
}

.navegation_contac {
  display: flex;
  gap: 50px;
}

.link_nav:hover {
  color: #2193f3;
}

.link_mail {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link_contac {
  text-decoration: none;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
}

.color_fondo {
  background-color: #212121;
  text-align: center;
  padding: 94px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  font-style: normal;
  color: #ffffff;
}

.button_service {
  color: #ffffff;
  background-color: #2193f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.box_funcion {
  padding: 94px 0;
}

.about .about_attention {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 15px;
}

.about .attention_text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 15px;
}

.about .about_puntuality {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 15px;
}

.about .puntuality_text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 15px;
}

.about .about_planning {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 15px;
}

.about .planning_text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 15px;
}

.about .about_technology {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 15px;
}

.about .technology_text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 15px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about_space {
  display: flex;
  column-gap: 30px;
}

.make {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 55.05px;
}

.make_img {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  padding-bottom: 94px;
}

.box_team {
  padding: 94px 0;
}

.our_team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}

.team_block {
  display: flex;
  justify-content: space-between;
  column-gap: 37px;
}

.team_list {
  text-align: center;
}

.team .team1 {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team .team1_text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team .team2 {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team .team2_text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team .team3 {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team .team3_text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team .team4 {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team .team4_text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.color_team {
  background-color: #f5f4fa;
  padding-bottom: 94px 0;
}

.tarjet_color {
  background-color: #ffffff;
}

.link_footer {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.link_footer:hover {
  color: #2193f3;
}

.color_footer {
  background-color: #212121;
  padding-top: 60px;
  padding-bottom: 47px;
}

/*seccin portafolio*/

.border {
  border: 1px solid #eeeeee;
  border-top: #ffffff;
}

.filtro {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.filtro_nav:hover {
  color: #2193f3;
}

.filtro_nav:focus {
  color: #2193f3;
}

.orient_filtros {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.space_filtro {
  display: flex;
  gap: 50px;
  padding-bottom: 32px;
}

.tittle_img {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  text-align: left;
  padding-left: 24px;
}

.text_img {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
  padding-left: 24px;
}

.block_img {
  display: flex;
  justify-content: space-between;
}

.space_img {
  display: flex;
  padding: 10px;
}

.box_img_port {
  padding-bottom: 82px;
}

.border_box_img {
  width: 370px;
  border-style: solid;
  border-width: 1px;
  border-left-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-top: #ffffff;
}
